.Navbar {
  display: grid;
  grid-template-columns: 6vw 30vw;
  font-size: 1.6rem;
  background-color: #f9f9f9;
  max-width: 100vw;
  padding: 10px;
  border-bottom: 1px solid #333;
}
.Navbar .first-btn-out {
  min-width: 40vw;
}
.Navbar .first-btn-out button {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 5vw;
  margin-top: 1vh;
  background-color: transparent;
  border: none;
  transition: 1s;
}
.Navbar .first-btn ul button {
  font-size: 1.6rem;
}
.Navbar .first-btn ul button:hover {
  text-decoration: underline;
}
.Navbar button:hover {
  cursor: pointer;
  opacity: 0.5;
}
.Navbar img {
  max-width: 5vw;
}

/* Homepage */
.Product {
  padding: 1vw;
}

/* Filter */


/* Content */
.Product {
  max-width: 50vw;
  margin: 0 auto;
}
.Product .filtering {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Product .filter-temp {
  display: inline;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.Product section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.Product .product-list {
  display: grid;
  grid-template-columns: 10vw 10vw 10vw;
}
.Product .product-list .product {
  border: 1px solid #cbcbcb;
}
.Product .next-prev-page {
  padding: 20px;
  text-align: center;
}
.Product .next-prev-page a {
  vertical-align: middle;
  padding: 15px;

}
.Product .next-prev-page img {
  max-width: 10px;
}
.Product .next-prev-page .chevron img {
  transform: rotate(180deg);
}