.Navbar {
  padding: 10px;
  background-color: #ffd502;
}
.Navbar .menu-wrapper {
  display: grid;
  grid-template-columns: 55px 1fr;
  align-items: center;
  max-width: 60vw;
  margin: 0 auto;
}
.Navbar .menu-wrapper .menu-btn {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
  background-color: transparent;
  border: none;
  z-index: 3;
  position: sticky;
  margin-left: 40px;
}
.Navbar .menu-wrapper .menu-list {
  position: absolute;
  z-index: 3;
  margin-top: 50px;
  font-size: 1.5rem;
  margin-left: 40px;
}
.Navbar .menu-wrapper .menu-list li, .Navbar .menu-wrapper .menu-list li button  {
  min-width: 220px;
  font-size: 1.5rem;
  margin-top: 10px;
}
.Navbar .menu-wrapper .menu-list li button {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  background-color: transparent;
  border: none;
  padding: 0;
  color: #000;
}
.Navbar .menu-wrapper .menu-list img {
  max-width: 10px;
  vertical-align: middle;
}
.Navbar .menu-wrapper .menu-list-links {
  max-width: 200px;
}
.Navbar .menu-wrapper .menu-list-links li a, .styleAnch ul li a, .grid-list-top-text a {
  text-decoration: none;
  color: #000;
}
.Navbar .menu-wrapper .menu-list-links li a:hover, .styleAnch ul li a:hover, .grid-list-top-text a:hover {
  border-bottom: 1px solid #000;
}
.Navbar .menu-content {
  background-color: #fff;
  width: 1500px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  position: fixed;
  transition: all 0.1s linear;
}
.Navbar .grid-list {
  position: absolute;
  top: 0;
  left: 240px;
  max-width: 500px;
  z-index: 10;
}
.Navbar .grid-list ul {
  display: inline-flex;
  border-left: 1px solid #c9c9c9;
  padding-left: 20px;
  height: 450px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  padding-top: 10px;
}
.Navbar .grid-list-2col {
  position: absolute;
  top: 0;
  left: 240px;
  max-width: 500px;
  z-index: 10;
}
.Navbar .grid-list-2col ul {
  display: inline-flex;
  border-left: 1px solid #c9c9c9;
  padding-left: 20px;
  height: 450px;
  display: grid;
  grid-template-columns: 200px 200px;
  padding-top: 10px;
}
.Navbar .regular-list {
  position: absolute;
  top: 0;
  left: 240px;
  max-width: 500px;
  z-index: 9;
}
.Navbar .regular-list ul li {
  margin-bottom: 20px;
}
.Navbar .regular-list .regular-top-text {
  text-transform: uppercase;
  width: 300px;
}
.Navbar .regular-list ul {
  border-left: 1px solid #c9c9c9;
  padding-left: 20px;
  height: 450px;
}
.Navbar .grid-list-top-text {
  border-left: 1px solid #c9c9c9;
  padding-left: 20px;
  margin-top: 10px;
  text-transform: uppercase;
}
.Navbar .menu-content-dark {
  position: fixed;
  min-width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 1;
}
.Navbar button:hover {
  cursor: pointer;
  opacity: 0.5;
}
.Navbar img {
  position: sticky;
  z-index: 5;
  max-width: 55px;
}
@media (max-width: 1600px) {
  .Navbar .menu-wrapper {
    margin: 0 0;
    max-width: 100%;
  }
  .Navbar .menu-wrapper .menu-btn {
    margin-left: 10px;   
  }
}

/* Homepage */
.Home {
}
.Home .Banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Home .Banner .Banner-Content {
  position: absolute;
  max-width: 500px;
  z-index: 1;
}
.Home .Banner .Banner-Content h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}
.Home .Banner .Banner-Content p {
  font-size: 1.8rem;
  margin-bottom: 30px;
}
.Home .Banner .Banner-Content div a {
  padding: 15px 25px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: bold;
  vertical-align: middle;
  text-decoration: none;

}
.Home .Banner .Banner-Content div a svg {
  max-width: 10px;
  color: #fff;
  vertical-align: middle;
  padding-left: 20px;
}
.Home .Banner .Banner-Content div:hover a {
  background-color: #fff;
  color: #000;
}
.Home .Banner .Banner-Content div:hover a svg {
  color: #000;
}
.Home .Banner img {
  max-width: 100%;
  z-index: 0;
}
.Home .section2 {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #e4e5ec;
}
.Home .category-btns {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px 0;

}
.Home .category-btns:first-child {
  margin-left: 10px;
}
.Home .category-btns a {
  margin-right: 10px;
  text-decoration: none;
  color: #000;
}
.Home .category-btns img {
  max-width: 120px;
}
.Home .category-btns a:hover {
  text-decoration: underline;
}
.Home .section3 {
  max-width: 1600px;
  margin: 0 auto;
}
.Home .section3 .video-banner {
  position: relative;
  max-width: 1600px;
  max-height: 500px;
}
.Home .section3 .video-banner .video-banner-a {
  position: absolute;
  padding: 5% 5%;
  z-index: 1;
}
.Home .section3 .video-banner h3 {
  font-size: 4rem;
  max-width: 500px;
  color: #000;
  margin-bottom: 20px;
}
.Home .section3 .video-banner .video-banner-a a {
  margin-right: 30px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
.Home .section3 .video-banner .video-banner-a a:hover, .Home .section3 .video-banner .video-banner-a a:hover svg {
  background-color: #fff;
  color: #000;
}
.Home .section3 .video-banner .video-banner-a svg {
  color: #fff;
  max-width: 10px;
  vertical-align: middle;
  margin-left: 20px;
}
.Home .section3 .video-banner video {
  max-width: 1600px;
}
@media (max-width: 1600px) {
  .Home .section3 .video-banner h3 {
    max-width: 400px;
  }
  .Home .section3 .video-banner video {
    max-width: 100%;
    max-height: auto;
  }
  .Home .section3 .video-banner {
    margin-bottom: -2px;
  }
}
@media (max-width: 1100px) {
  .Home .Banner .Banner-Content h2 {
    font-size: 3rem;
    max-width: 400px;
  }
  .Home .Banner .Banner-Content p {
    font-size: 1.8rem;
    max-width: 400px;
  }
  .Home .section2 a, .Home .section2 a img  {
    max-width: 100%;
  }
  .Home .section2 a h3 {
    font-size: 1rem;
    max-width: 10vw;
  }
  .Home .section3 .video-banner h3 {    
    font-size: 3rem;
    max-width: 300px;
  }
}
@media (max-width: 800px) {
  .Home .Banner .Banner-Content h2 {
    font-size: 2rem;
    max-width: 300px;
  }
  .Home .Banner .Banner-Content p {
    font-size: 1.4rem;
    max-width: 300px;
  }
  .Home .Banner .Banner-Content div a {
    padding: 10px 15px;
    font-size: 1.4rem;
  }
  .Home .section3 .video-banner h3 {    
    font-size: 2rem;
    max-width: 200px;
  }
}
@media (max-width: 500px) {
  .Home .Banner .Banner-Content h2 {
    font-size: 1.8rem;
    max-width: 200px;
    margin: 0;
  }
  .Home .Banner .Banner-Content p {
    font-size: 1.2rem;
    max-width: 220px;
    margin: 5px 0 10px 0;
  }
  .Home .Banner .Banner-Content div a {
    font-size: 1.2rem;
  }
  .Home .section3 .video-banner h3 {
    margin-bottom: 5px;
  }
  .Home .section3 .video-banner .video-banner-a a {
    font-size: 1rem;
  }
  .Home .section2 .category-btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .Home .section2 .category-btns h3 {
    display: inline;
  }
  .Home .section2 .category-btns img {
  }
}


/* Filter */


/* Content */

.Product {
  max-width: 50vw;
  margin: 0 auto;
}
.filtering {
  max-width: 50vw;
  margin: 10px auto;
}
.filter-wrapper {
  margin-right: 40px;
}
.filter-wrapper > div {
  border-top: 1px solid #e0e0e0;
}
.filter-wrapper button {
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
  min-width: 100%;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;  
  font-weight: bold;
  cursor: pointer;
  color: #2c2c2c;
  padding: 15px 0 15px 0;
}
.filter-wrapper .available-only {
  padding: 15px 0 15px 0;
}
.filter-wrapper button svg {
  max-width: 10px;
  vertical-align: middle;
  margin-right: 3px;
  transition: all 0.1s linear;
}
.filter-wrapper div ul {
  padding-bottom: 10px;
}
section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.product-list {
  display: grid;
  grid-template-columns: 10vw 10vw 10vw;
}
.product-list .product {
  border: 1px solid #cbcbcb;
}
.next-prev-page {
  padding: 20px;
  text-align: center;
}
.next-prev-page a {
  vertical-align: middle;
  padding: 15px;

}
.next-prev-page img {
  max-width: 10px;
}
.next-prev-page .chevron img {
  transform: rotate(180deg);
}

/* Footer */
.Footer {
  max-width: 100vw;
  background-color: #201d48;
  padding: 40px;
  color: #fff;
}
.Footer .ul-h3 {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: bold;
}
.Footer .footer-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 5vw;
  justify-content: center;
}
.Footer .location-btn {
  display: flex;
  align-items: center;
  background-color: #18152d;
  border: none;
  color: #fff;
  font-size: 1.3rem;
  padding: 7px 1vw;
  margin-top: 15px;
  margin-bottom: 20px;
}
.Footer .location-btn svg {
  max-width: 15px;
  margin-right: 10px;
}
.Footer ul {
  max-width: 70vw;
}
.Footer ul li {
  margin-bottom: 20px;
}
.Footer ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}
.Footer ul li a:hover {
  text-decoration: underline;
}
.Footer img {
  max-width: 5vw;
}
@media (max-width: 800px) {
  .Footer .footer-wrapper {
    grid-template-columns: auto auto auto;
  }
}
@media (max-width: 500px) {
  .Footer .footer-wrapper {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 400px) {
  .Footer .footer-wrapper {
    grid-template-columns: auto;
  }
}